@import '../../styles/navbar-fixed-white.css';
@import '../../styles/variables.css';
@import "tailwindcss";


:root {
  --background: #f9fafb;
  --foreground: var(--color-text-primary, #171717);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--color-text-primary, #171717);
  font-family: Arial, Helvetica, sans-serif;
}
